@import '../../styles/settings.scss';

nav {
    background-color: darken($color-dark, 3%);
    position: relative;
}
.icon {
    font-size: 24px;
}
a {
    color: white;
}
.navwrapper {
    justify-content: space-between;
    align-items: center;
    background-color: darken($color-dark, 3%);
    display: flex;
    padding: 20px 100px;
}
li{
    font-family: $font-text;
    font-weight: bold;
    list-style-type: none;
    display: inline;
    padding: 10px;
    a{
        text-decoration: none;
        font-size: 20px;
    }
}

.linkActive{
    color: $color-warning;
    transition: color 0.2s ease-in-out;
}